
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 2px;
}
.snd-btn{
    
    padding:.4rem 2rem !important;
    color:white !important;
    background-color: #E682A6 !important;
    box-shadow:none;
    font-weight:600 !important;	
	text-transform:capitalize;
    border: none;
}
.snd-btn:hover{
   box-shadow: 2px 0px  2px rgb(187, 154, 171);
}

.header{
    background-color: #FFE2EC;
    padding: 8px;
    margin: 0px;
    
}

/*----------------navbar and banner -------------------------*/

.banner-img{
    width: 100%;

}
/*.banner
{
    background-image: url('assets/Archive/banner_SVG-01.svg');
	background-position:top;
    background-size: cover;
	background-repeat:no-repeat;
    height:625px; 
    position:relative;	
}

.wheel_chairBox
{
  position: absolute;
  top: 59%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index:9;
}
.wheel_chairBox img
{
	width:73%; 
}
.address_arrowBox
{
	position: absolute;
    top: 64%;
    left: 18%;
    transform: translate(-50%, -50%);
}
.address_arrowBox span
{
	display:block;
	margin-bottom:103px;
	background-color:#FFE2EC;
	padding:20px 25px;
	border-radius:4px;
}
.address_arrowBox span:after 
{
    content: '';
    position: absolute;
    height: 135px;
    width: 2px;
    background-color: #E682A6;
    left: 50%;
    top: 38%;
    z-index: -1;
}
.address_arrowBox:after
{
	position: absolute;
    left: 50px;
    bottom: 54px;
    display: block;
    width: 76px;
    background-color: #E682A6;
    height: 2px;
    content: "";
    z-index: -1;
}
.address_arrowBox span a
{
	font-size:17px;
	color:#000 !important;
}
.address_arrowBox img
{
	width:24%;
	margin-left:10px;
}*/
.call_btn , .call_btn:focus
{
    padding:.6rem 2rem !important;
    color:#E682A6 !important;
    box-shadow:none !important;
    font-weight:600 !important;	
	text-transform:capitalize;
}
.section-title
{
	margin: auto;
	margin-top: 50px;
	margin-bottom: 40px;
    text-align: center;
    max-width: 750px;
    
}
.section-title h3
{
	font-size: 40px;
    color: #000;
    font-weight: 600;
	margin-bottom:30px;
}
.section-title span
{
	color:#000;
}



.navbar-custom{
    background-color: #fe92b9;
   padding: 10px !important;
    
}
.navbar-custom1{
    background-color: white;
}
.nav-link{
    color: white;
    

}
.nav-link1{
    color: black;
    

}

.ban-img{
    width: 13%;
    position: absolute;
    bottom: 30px;
    left: 100px;
}
.ban-img1{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.ban-img2{

    width: 70%;
    float: right;
}
.ban-add{
    position: relative;
    top: 300px;
}
.img-fluid
{
	width:100%;
}

.call .container-fluid
{
	padding-left:90px;
	padding-right:90px;
}
.container-call
{
    background-color: #E682A6;
    padding: 18px 30px;
    border-radius: 5px;
	
}

.container-call p
{
	
	color:#fff;
}
.container-call .col-sm-4
{
	text-align:right;
}


@media screen and (max-width: 900px){

    .navbar-brand{
        padding-left: 20px;
    }

    
    .ban-img{
        width: 13%;
        position: absolute;
        top: 150px;
        left: 50px;
    }
    .ban-img1{
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .ban-add{
        position: relative;
        top: 70px;
    }
    .key{
        
        padding-top: 20px;
        
    }
  
    .ban-img1{
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        
    }

}
@media(min-width: 1440px){
    

.icon{
    width: 70%;
}

}




/*----------------navbar and banner ends -------------------------*/


.key{
    
    padding-bottom: 60px;
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.boxed {
    border: 1px solid white ;
    background-color:  #fe92b9;
    display: inline-block;
    padding: 10px;
    font-size: 10px;
  }




.views{
    background-image: url('assets/views.svg/views.svg');
    background-size: cover;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
  }

  .center:hover{
    cursor: pointer;
  }
  .my-img a {
    display: inline-block;
    margin: 10px;
    border: 2px solid #CCC;
  }
  .my-img a:hover {
    border: 2px solid #45AFFF;
  }    
  .modal-lg {
    width: 86%;
  }
  .modal-body {
    overflow: auto;
    max-height: auto;
  }
  .img-responsive {
    vertical-align: middle;
    border-style: none;
    width: 100% !important;
  }




  .reviews{
      width: 80%;
  }
  @media(max-width: 900px){
    .reviews{
        width: 50%;
    }

  }

  /*------------------------section 3 css---------------------*/

  .section3{
      background-image: url('assets/Rectangle\ 822.svg');
      padding: 30px;
  }
  .row-features
  {
      margin-top: 0%;
      display: flex;
      justify-content: space-between;
  }
  .sec3-col{
      flex-basis: 31%;
      background-color: #E682A6;
      border-radius: 5px;
      padding: 10px;
      box-sizing: border-box;
      margin: 10px;
      transition: 0.5s;
  }
  

  .icon-h{
      padding-top: 30px;
      padding-bottom: 0px;
      font-weight: bold;
  }
  .icon-img{
      padding: 20px;
  }
  .icon{
      padding-top: 0px;
     width:24%;
  }
  .icon2{
      padding-top: 3px;
      width: 25%;
      padding-bottom: 20px;
  }
  .icon2-h{
      padding-top: 15px;
      padding-bottom: 0px;
      font-weight: bold;
  }
  .icon3{
      width: 40%;
      padding-bottom: 10px;
  }
  .icon3-h{
      padding-top: 20px;
      padding-bottom: 0px;
      font-weight: bold;
  }
  .icon4{
      width: 30%;
      padding-top: 0px;
      padding-bottom: 15px;
  }
  .icon4-h{
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 0px;
  }
  .icon5{
      width: 35%;
      padding-top: 10px;
  }
  .icon5-h{
      padding-top: 12px;
      font-weight: bold;
      padding-bottom: 0px;
  }
  .icon6{
      width: 30%;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .icon6-h{
    padding-top: 10px;
     font-weight: bold;
    padding-bottom: 0px;
  }
  .icon7{
    width: 30%;
    padding-top: 15px;
  }
  .icon7-h{
    padding-top: 25px;
    font-weight: bold; 
  }
  .icon8-h{
    
    padding-top: 15px;
    font-weight: bold;padding-bottom: 5px;
  }
  .icon8{
      width: 30%;
      padding-top: 15px;
      padding-bottom: 15px;
  }

.contact{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

  @media(max-width: 900px){
    .row-features{
        flex-direction: column;
    }
    .icon3{
        width: 20%;
    }
  }
 

 



/*------------------------section 3 css ends---------------------*/


  .section4{
      padding: 40px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .checked{
      color: orange;
  }
  .maps{
    width: 100%;
    height: 400px;
    border: 0;
    
  }

  .ent-img{
       width: 100%;
       padding: 40px;
  }
 
  .ent{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
  }


  .container-row{
    width: auto;
    border: 5px solid rgb(236, 236, 236);
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .send-btn{
    display: inline-block;
    text-decoration: none;
    color:  white;
    border: 2px solid #fe92b9;
    padding: 2px 30px;
    font-size: 14px;
    background:#fe92b9;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 10px;
 }
 .send-btn:hover{
     text-decoration: none;
     color: white;
     box-shadow: 0 0 15px 0px hotpink;
 }
 .formcontainer{
     border: 5px solid rgb(235, 235, 235);
     padding: 20px;
     margin-top: 30px;
    
 }
 
.text-block 
{
    position: absolute;
    bottom: 80px;
    left: 70px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.text-block a
{
    font-size: 4px;
    line-height: 1px;
    color: black;
}
.text-block a:hover
{
    text-decoration: none;
}
 
 
/* Media Query Start Here  */


@media only screen and (min-width:768px) and (max-width:1023px)
{
.container-row 
{
    width: auto;
    border: 5px solid rgb(236, 236, 236);
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 12px;
    padding-right: 20px;
}

.banner
{
	height:520px;
}
.call .container-fluid
{
	padding-left:15px;
	padding-right:15px;
}
.address_arrowBox
{
	left:15%;
	top:62%;
}
.address_arrowBox img
{
	width:22%;
}
.wheel_chairBox
{
	left:52%;
}
.wheel_chairBox img
{
	width:58%;
}
.container-call
{
	padding:14px 25px;
	margin-top:-210px;
}
.address_arrowBox span
{
	padding:15px;
}
.address_arrowBox span:after 
{
    height: 127px;
    top: 35%;
}
.address_arrowBox:after 
{
    left: 40px;
    bottom: 40px;
    width: 58px;
}
.address_arrowBox span a
{
	font-size:14px;
}
}


@media only screen and (min-width:320px) and (max-width:767px)
{

.container-row {
    width: auto;
    border: 5px solid rgb(236, 236, 236);
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 13px;
    padding-right: 20px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -3px;
}

.banner
{
	height:380px;
	background-position:75% center;
}
.address_arrowBox
{
	display:none;
}
.call .container-fluid
{
	padding-left:15px;
	padding-right:15px;
}
.container-call
{
	padding:14px 15px;
	margin-top:-260px;
}
.container-call p
{
	font-size:14px;
}
.call_btn, .call_btn:focus
{
	font-size:13px !important;
	padding:.375rem .75rem !important;
}
.wheel_chairBox
{
	left:34%;
}
.wheel_chairBox img 
{
    width: 57%;
}
.section-title h3
{
	font-size:30px;
}
.container-call:after 
{
    margin-left: -15px;
    border-top: solid 15px #E682A6;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}
}
 
 